._pdt_viewBox {
  display: flex;
  gap: 30px;
  width: 100%;
  padding: 30px;
}

._pdt_imgBlock {
  width: 50%;
}

._pdt_detail {
  width: 50%;
  color: var(--primary-color);
}

._detailName {
  font-size: 24px;
}

._detailPrice {
  font-size: 32px;
}

._detailPrice strike {
  font-size: 18px;
}

._detailPrice span {
  font-size: 14px;
  color: rgb(28, 199, 28);
}

._pdt_detail .description_ {
  margin: 10px 0;
  text-indent: 40px;
  line-height: 30px;
}

._var_color {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

._var_color button {
  width: 50px;
  height: 50px;
  border: 1px solid #b5b2b2;
  box-shadow: 1px 1px 2px #1111113c;
}

._var_color button img {
  width: 100%;
  aspect-ratio: 1;
}

._var_color button.active {
  border: 1px solid var(--primary-color);
}

._var_memory {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

._var_memory button {
  font-size: 12px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  box-shadow: 1px 1px 2px #1111113c;
  border-radius: 6px;
  text-wrap: nowrap;
}

._var_memory button.active {
  background: var(--primary-color);
  color: #fff;
}

@media (max-width: 996px) {
  ._pdt_viewBox {
    display: block;
  }
  ._pdt_imgBlock {
    width: 100%;
  }
  ._pdt_detail {
    width: 100%;
    margin: 20px 0;
  }
}

@media (max-width: 576px) {
  ._detailName {
    font-size: 18px;
  }
  ._detailPrice {
    font-size: 24px;
  }
  ._pdt_detail .description_ {
    margin: 10px 0;
    text-indent: 40px;
    line-height: normal;
  }
}
