._shop-container {
  /* display: flex;
  align-items: flex-start;
  gap: 30px; */
  width: 100%;
  padding: 20px;
  background: #fff;
}

._shop-filterBox {
  width: 25%;
  border: 1px solid #ededed;
  box-shadow: 0px 2px 14px 4px #efeff1;
  -webkit-box-shadow: 0px 2px 14px 4px #efeff1;
  -moz-box-shadow: 0px 2px 14px 4px #efeff1;
}

._shop-ItemList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
  gap: 20px;
  width: 100%;
}

._shop-Item {
  position: relative;
  border: 1px solid #ededed;
  box-shadow: 0px 2px 14px 4px #efeff1;
  -webkit-box-shadow: 0px 2px 14px 4px #efeff1;
  -moz-box-shadow: 0px 2px 14px 4px #efeff1;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
}

._shop-Item img {
  width: 100%;
  aspect-ratio: 1;
  transition: all 0.3s ease;
}

._shop-Item:hover img {
  scale: 1.05;
}

@media (max-width: 996px) {
  ._shop-container {
    flex-direction: column;
  }
  ._shop-filterBox {
    width: 100%;
  }
  ._shop-ItemList {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 576px) {
  ._shop-container {
    flex-direction: column;
  }
  ._shop-filterBox {
    width: 100%;
  }
  ._shop-ItemList {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}
