.pfl-container {
  width: 100%;
  height: 100%;
  background: #fff;
  color: var(--primary-color);
  padding: 20px;
}

.pftBox {
  border: 1px solid #ededed;
  border-radius: 8px;
  overflow: hidden;
}

.pftBody {
  padding: 40px 20px;
}
