._top_filterBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-color);
  color: #fff;
  padding: 20px;
}

._filterAngle {
  transition: all 0.3s ease;
}

._filterAngle.active {
  transform: rotate(-180deg);
}

.filterBox_content {
  padding: 18px;
  transition: 0.1s ease-in;
}

.filterBox_content.active {
  height: 0;
  padding: 0;
  overflow: hidden;
}

.filtersHieght {
  max-height: 150px;
  overflow-y: scroll;
}

.filtersHieght::-webkit-scrollbar {
  display: none;
}

.filterBlock_contains {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
}

.filterBlock_contains .filOps {
  font-size: 12px;
  padding: 5px 10px;
  color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 6px;
}

.filterBlock_contains button.active {
  background: var(--primary-color);
  color: #fff;
  border: none;
}

.filActives {
  font-size: 12px;
  background: var(--primary-color);
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
}

@media (max-width: 996px) {
}

@media (max-width: 576px) {
}
