.admin-block{
    background: var(--main-color);
    color: #fff;
    min-height: 100vh;
}

.admin-struct{
    display: flex;
}

.pl-content{
    padding: 20px;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}

.pl-content::-webkit-scrollbar{
    display: none;
}

@media (max-width:576px) {
    .pl-content{
        margin-left: 75px;
    }
}